body, html {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Hind', sans-serif;
  overflow-x: hidden;
}

.section-header {  
      transform:  rotate(270deg);
      
      height: 10vh;
      position: relative;
      top: 30vh;
      h1 {
        font-size: 10vh;
      }
  }

  .siteGreen, .section-header {
    color: $siteGreen;
  }

  .siteGrey {
    color: $siteGrey;
  }